<li class="flex justify-between items-center bg-gray-100 px-3 py-2 rounded-lg mb-2 animate-fade-in">
    <div>
        <h3 class="font-semibold">{{ task.title }}</h3>
        <p class="text-sm text-gray-600">{{ task.description }}</p>
        <span class="inline-block mt-1 text-xs px-2 py-1 rounded-full" [ngClass]="{
            'bg-yellow-100 text-yellow-700': task.status === 'Pending',
            'bg-blue-100 text-blue-700': task.status === 'In Progress',
            'bg-green-100 text-green-700': task.status === 'Complete',
            'bg-gray-200 text-gray-700': task.status === 'On Hold'
          }">
            {{ task.status }}
        </span>
    </div>

    <div class="flex gap-2">
        <button (click)="edit.emit()" class="text-blue-500 hover:text-blue-700">✏️</button>
        <button (click)="delete.emit()" class="text-red-500 hover:text-red-700">🗑️</button>
    </div>
</li>